.startup {
  margin-top: 120px;
  @media (max-width: 768px) {
    padding-top: 0;
  }
  .title {
    max-width: 614px;
    margin: 0 auto 54px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    flex: 0 1 50%;
    
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  .about {
    margin: 0 auto;
    width: 60%;
    padding-left: 20px;

    p {
      margin: 0 0 24px;
      font-size: 17px;
      line-height: 21px;
      max-width: 560px;
    }
  }

  .btn-blue {
    margin-top: 46px;
    margin-bottom: 46px;
  }

  .sw {
    margin: 0 auto;
  }
  
  .chart {
    //margin: 0 auto;
    width: calc(100% - 60px);
    height: 240px;
    position: relative;
    img {
      height: 100%;
    }

    .legend {
      position: absolute;
      //left: 475px;
      right: -60px;
      top: 5px;
      width: 50px;
      font-size: 13px;
      line-height: 15px;
      color: #8c8f9e;

      span {
        position: absolute;
        left: 0;

        &:nth-child(2) {
          top: 40px;
        }

        &:nth-child(3) {
          top: 80px;
        }

        &:nth-child(4) {
          top: 105px;
        }
      }
    }
  }
}
