.group-container {

  .slider-controls {
    position: absolute;
    //margin-top: -237px;
    width: 100%;
    pointer-events: none;
    top:28%;

    button {
      pointer-events: auto;
    }

    .slick-next {
      right: -25px;
    }
  }
}
